**/.DS_Store
**/.dockerignore
**/.env
**/.env.*
!**/.env.example
**/.git
**/.github
**/.gitignore
**/.idea
**/.junie
**/.svelte-kit
**/.vscode
**/build
**/coverage
**/node_modules
**/npm-debug.log
**/Dockerfile*
README.md
